In [11]:
import pandas as pd

import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

In [2]:
measurementsDB = pd.read_csv('clean_hawaii_measurements.csv')
stationsDB = pd.read_csv('clean_hawaii_stations.csv')

In [3]:
print(measurementsDB.head())
print(measurementsDB.dtypes)
print(type(measurementsDB.loc[1,'date']))
print(stationsDB.head())
print(stationsDB.dtypes)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
station     object
date        object
prcp       float64
tobs         int64
dtype: object
<class 'str'>
       station                                    name  latitude  longitude  \
0  USC00519397                    WAIKIKI 717.2, HI US   21.2716  -157.8168
1  USC00513117                    KANEOHE 838.1, HI US   21.4234  -157.8015
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US   21.5213  -157.8374
3  USC00517948                       PEARL CITY, HI US   21.3934  -157.9751
4  USC00518838              UPPER WAHIAWA 874.3, HI US   21.4992  -158.0111

   elevation
0        3.0
1       14.6
2        7.0
3       11.9
4      306.6
station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [13]:
conn = engine.connect()

In [5]:
Base = declarative_base()

In [6]:
class Measurements(Base):
    __tablename__ = "measurements"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float) 
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = "stations"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float) 
    longitude = Column(Float)
    elevation = Column(Float)

In [7]:
Base.metadata.create_all(engine)

In [8]:
data_measurements = measurementsDB.to_dict(orient='records')
data_stations = stationsDB.to_dict(orient='records')

In [9]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [12]:
table_M = sqlalchemy.Table('measurements', metadata, autoload=True)
table_S = sqlalchemy.Table('stations', metadata, autoload=True)

In [14]:
conn.execute(table_M.insert(), data_measurements)
conn.execute(table_S.insert(), data_stations)